In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('pandas-practice-assignment')
jovian.set_colab_id('1UB_hHjH3LFYBCjSmQO1suDp-q6GiFwb9')

     |████████████████████████████████| 68 kB 3.5 MB/s
  Building wheel for uuid (setup.py) ... done

# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered in this tutorial: https://jovian.ai/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/3. You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before starting the assignment, let's save a snapshot of the assignment to your Jovian.ai profile, so that you can access it later, and continue your work.

In [2]:
import jovian

In [3]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

In [4]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [6]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f99a1923e50>)

Let's load the data from the CSV file into a Pandas data frame.

In [7]:
countries_df = pd.read_csv('countries.csv')

In [8]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [9]:
num_countries = countries_df.shape[0]

In [10]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [11]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [12]:
continents = pd.unique(countries_df.continent)

In [13]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [14]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [15]:
total_population = countries_df.population.sum()

In [16]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [17]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [18]:
countries_df['overall_life'] = countries_df.life_expectancy*countries_df.population

In [19]:
print(countries_df.overall_life.sum()/total_population)

72.72165193409664

In [20]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [21]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)

In [22]:
most_populous_df

          location      continent  ...  gdp_per_capita  overall_life
41           China           Asia  ...       15308.712  1.106984e+11
90           India           Asia  ...        6426.674  9.613111e+10
199  United States  North America  ...       54225.446  2.610287e+10
91       Indonesia           Asia  ...       11188.744  1.961711e+10
145       Pakistan           Asia  ...        5034.708  1.485943e+10
27          Brazil  South America  ...       14103.452  1.612901e+10
141        Nigeria         Africa  ...        5338.454  1.127377e+10
15      Bangladesh           Asia  ...        3523.984  1.195480e+10
157         Russia         Europe  ...       24765.954  1.059192e+10
125         Mexico  North America  ...       17336.469  9.676403e+09

[10 rows x 7 columns]

In [23]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [24]:
countries_df['gdp'] = countries_df.gdp_per_capita*countries_df.population
countries_df.drop(['overall_life'],1,inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [25]:
countries_df

           location continent  ...  gdp_per_capita           gdp
0       Afghanistan      Asia  ...        1803.987  7.022622e+10
1           Albania    Europe  ...       11803.431  3.396791e+10
2           Algeria    Africa  ...       13913.839  6.101364e+11
3           Andorra    Europe  ...             NaN           NaN
4            Angola    Africa  ...        5819.495  1.912651e+11
..              ...       ...  ...             ...           ...
205         Vietnam      Asia  ...        6171.884  6.007624e+11
206  Western Sahara    Africa  ...             NaN           NaN
207           Yemen      Asia  ...        1479.147  4.411699e+10
208          Zambia    Africa  ...        3689.251  6.782303e+10
209        Zimbabwe    Africa  ...        1899.775  2.823622e+10

[210 rows x 7 columns]

In [26]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [27]:
gdp_low = countries_df.sort_values('gdp',ascending=True)
gdp_low_100m = gdp_low[gdp_low.population > 100000000].head(10)

In [28]:
gdp_low_100m

        location      continent  ...  gdp_per_capita           gdp
63      Ethiopia         Africa  ...        1729.927  1.988786e+11
15    Bangladesh           Asia  ...        3523.984  5.803628e+11
151  Philippines           Asia  ...        7599.188  8.327273e+11
58         Egypt         Africa  ...       10550.206  1.079649e+12
141      Nigeria         Africa  ...        5338.454  1.100467e+12
145     Pakistan           Asia  ...        5034.708  1.112128e+12
125       Mexico  North America  ...       17336.469  2.235239e+12
27        Brazil  South America  ...       14103.452  2.997821e+12
91     Indonesia           Asia  ...       11188.744  3.060386e+12
157       Russia         Europe  ...       24765.954  3.614206e+12

[10 rows x 7 columns]

In [29]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [30]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [31]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [32]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [33]:
continent_populations_df = countries_df.groupby('continent').sum().population

In [34]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [35]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [36]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f99a14351d0>)

In [37]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [38]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [39]:
total_tests_missing = covid_data_df[covid_data_df.total_tests.isna() ==True].shape[0]

In [40]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [41]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [42]:
combined_df = countries_df.merge(covid_data_df,on='location')

In [43]:
combined_df

           location continent  ...  total_deaths  total_tests
0       Afghanistan      Asia  ...        1409.0          NaN
1           Albania    Europe  ...         296.0          NaN
2           Algeria    Africa  ...        1525.0          NaN
3           Andorra    Europe  ...          53.0          NaN
4            Angola    Africa  ...         109.0          NaN
..              ...       ...  ...           ...          ...
205         Vietnam      Asia  ...          35.0     261004.0
206  Western Sahara    Africa  ...           1.0          NaN
207           Yemen      Asia  ...         571.0          NaN
208          Zambia    Africa  ...         292.0          NaN
209        Zimbabwe    Africa  ...         206.0      97272.0

[210 rows x 10 columns]

In [44]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [45]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [46]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [47]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [48]:
combined_df

           location continent  ...  cases_per_million  deaths_per_million
0       Afghanistan      Asia  ...         982.394806           36.194710
1           Albania    Europe  ...        3380.359997          102.856349
2           Algeria    Africa  ...        1029.804468           34.776824
3           Andorra    Europe  ...       15518.022390          685.950948
4            Angola    Africa  ...          83.033462            3.316470
..              ...       ...  ...                ...                 ...
205         Vietnam      Asia  ...          10.745996            0.359570
206  Western Sahara    Africa  ...        1282.373228            1.674116
207           Yemen      Asia  ...          66.250993           19.144391
208          Zambia    Africa  ...         675.317108           15.883415
209        Zimbabwe    Africa  ...         446.614587           13.859989

[210 rows x 13 columns]

In [49]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [50]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)

In [51]:
highest_tests_df

                 location      continent  ...  cases_per_million  deaths_per_million
197  United Arab Emirates           Asia  ...        7233.276713           39.128852
14                Bahrain           Asia  ...       30818.361490          111.660730
115            Luxembourg         Europe  ...       12665.022301          198.090662
122                 Malta         Europe  ...        4373.339614           29.442473
53                Denmark         Europe  ...        2968.645954          108.076323
96                 Israel           Asia  ...       14157.289533          111.951408
89                Iceland         Europe  ...        6215.384615           29.304029
157                Russia         Europe  ...        6886.653091          119.327539
199         United States  North America  ...       18472.377957          561.155633
10              Australia        Oceania  ...        1016.592979           26.000121

[10 rows x 13 columns]

In [52]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [53]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)

In [54]:
highest_cases_df

          location      continent  ...  cases_per_million  deaths_per_million
155          Qatar           Asia  ...       41375.743650           69.071800
14         Bahrain           Asia  ...       30818.361490          111.660730
147         Panama  North America  ...       21805.112117          470.477208
40           Chile  South America  ...       21695.671982          593.423100
162     San Marino         Europe  ...       21657.139490         1237.550828
9            Aruba  North America  ...       20708.839893          112.395332
105         Kuwait           Asia  ...       20249.789079          125.276222
150           Peru  South America  ...       20121.318048          887.393445
27          Brazil  South America  ...       18808.224105          582.331314
199  United States  North America  ...       18472.377957          561.155633

[10 rows x 13 columns]

In [55]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [56]:
highest_deaths_df = combined_df.sort_values('deaths_per_million',ascending=False).head(10)

In [57]:
highest_deaths_df

           location      continent  ...  cases_per_million  deaths_per_million
162      San Marino         Europe  ...       21657.139490         1237.550828
150            Peru  South America  ...       20121.318048          887.393445
18          Belgium         Europe  ...        7404.645676          854.040375
3           Andorra         Europe  ...       15518.022390          685.950948
177           Spain         Europe  ...       10256.790198          624.406705
198  United Kingdom         Europe  ...        4988.892850          611.525168
40            Chile  South America  ...       21695.671982          593.423100
97            Italy         Europe  ...        4490.684602          587.097697
27           Brazil  South America  ...       18808.224105          582.331314
182          Sweden         Europe  ...        8370.109919          576.279276

[10 rows x 13 columns]

In [58]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [59]:
s1 = pd.merge(highest_cases_df,highest_tests_df , how='inner', on=['location'])
s1.shape[0]

2

In [60]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [61]:
lowest_gdp = combined_df.sort_values('gdp',ascending=True).head(20)

In [62]:
lowest_beds = combined_df.sort_values('hospital_beds_per_thousand',ascending=True).head(20)

In [63]:
s2 = pd.merge(lowest_gdp,lowest_beds , how='inner', on=['location'])

In [64]:
import jovian

In [65]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akshay270802/pandas-practice-assignment

'https://jovian.ai/akshay270802/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/2